<h3>User: {{userData.display_name}}</h3>
<p>First Name: {{userData.first_name}}</p>
<p>Last Name: {{userData.last_name}}</p>
<p>Is Admin: {{userData.is_sys_admin}}</p>
<code>userData {{userData}}</code>
<code>userData {{elenco | json}}</code>

<button ng-click="postLog()">Post Log</button>
<button ng-click="postLogWithError()">Post Log with ERROR!</button>
<button ng-click="getData()">GetData</button>

<table class="table">
  <tr ng-repeat="model in elenco">
  	<td>{{model.age}}{{model | json}}</td>
 	</tr>
</table>